$main_font_family: arial, sans serif;

$main_font-size: 16px;
$mobile-font-size: 16px;

$body-font-color: #3c3737;

$heading-font-family: arial, sans serif;
$heading-default-color: #292929;
$heading-h1-color: #297b9a;
$heading-h2-color: #343434;
$heading-h3-color: #297b9a;

$link-color: #297b9a;
$link-border-bottom: 1px dotted #909090;
$link-border-bottom-hover:none;
$link-text-decoration: none;
$link-text-decoration-hover: none;

$alt-background-color:#f5f5f5;
$alt-background-border:1px solid #e2e2e2;
